@use 'sass:color';

$primary-color: #FF8310;
$primary-contrast-text: white;
$primary-ghost-color: #232323;

$secondary-color: #393939;
$secondary-contrast-text: white;

$background-default: #232323;
$background-card: #191A20;

$text-primary: #ffffff;
$text-muted: #CCCCCC;

$card-color: #362154;

$font-primary: 'Poppins',
  system-ui,
  -apple-system,
  sans-serif;
$border-radius: 8px;
$box-height: 48px;
$border-color: #ffffff21