.container {
    background-color: $background-card;
    border-radius: $border-radius;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    max-width: 250px;
}

.imageContainer {
    width: 100%;
    height: 200px;
    border-radius: $border-radius;
    overflow: hidden;
    flex-shrink: 0;

    &_image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}



.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &_name {
        font-size: 18px;
        font-weight: 500;
        color: $text-primary;
        margin: 0;
    }

    &_description {
        font-size: 12px;
        font-weight: 300;
        color: $text-muted;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &_priceContainer {
        display: flex;
        align-items: center;
        gap: 8px;

        &_price {
            font-size: 18px;
            font-weight: 500;
            color: $text-primary;
            line-height: 1.2;
            letter-spacing: 0.01em;
        }
    }
}