.container {
    background-color: $background-card;
    border-radius: $border-radius;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    max-height: 450px;
    width: 100%;
    max-width: 300px;
}

.imageContainer {
    width: 100%;
    height: 200px;
    border-radius: $border-radius;
    overflow: hidden;
    flex-shrink: 0;

    &_image {
        width: 100%;
        height: 100%;
        display: block;
    }
}



.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_info {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &_name {
        font-size: 18px;
        font-weight: 500;
        color: $text-primary;
        margin: 0px;
    }

    &_description {
        font-size: 12px;
        font-weight: 300;
        color: $text-muted;
        max-height: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_priceContainer {
        display: flex;
        align-items: center;
        gap: 8px;

        &_price {
            font-size: 20px;
            font-weight: 500;
            color: $text-primary;
            line-height: 1.1;
            margin-bottom: 1px;
        }
    }
}