.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: fit-content;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 36px;

    &_backButton {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        background-color: $secondary-color;
        color: $primary-color;
        padding: 8px;
        border-radius: 50%;
    }

    &_title {
        font-size: 24px;
        font-weight: 500;
        color: $text-primary;
        line-height: 1.1;
        letter-spacing: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 16px;
}

.productsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 800px;
}

.paymentDetails {
    display: flex;
    flex-direction: column;
    margin: 0 28px;

    &_totalAmount {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &_label {
            font-size: 18px;
            font-weight: 700;
            color: $text-primary;
            text-transform: uppercase;
            letter-spacing: -1px;
        }

        &_amountContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;

            &_iconContainer {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_amount {
                font-size: 18px;
                font-weight: 500;
                line-height: 1;
            }
        }
    }

    &_paymentButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 16px;
        text-transform: uppercase;

        &_button {
            width: 100%;
            height: 100%;
            font-size: 16px;
            font-weight: 700;
            color: $text-primary;
            text-transform: uppercase;
            letter-spacing: 0;
        }
    }
}