version: "3.8"

services:
  web:
    container_name: nftstore
    build:
      context: .
      dockerfile: ./Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - nftstore_node_modules:/app/node_modules
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  nftstore_node_modules:
  nftstore-data:
    driver: local