.cartContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 6px;

    &_cartIcon {
        font-size: 24px;
        color: $primary-color;
    }

    &_cartCount {
        font-size: 14px;
        font-weight: 400;
        color: $text-primary;
    }
}