.container {
  max-width: 250px;
  transition: outline 15ms ease-in-out;

  @include media-phone {
    max-width: 200px;
  }

  @include media-tablet {
    max-width: 180px;
  }

  &:hover {
    outline: 1px solid $border-color;
    box-shadow: $box-shadow;
  }
}

.container--cart {
  flex-direction: row;
  background-color: $background-card-secondary;
  max-width: none;

  &:hover {
    background-color: $background-card-secondary !important;
    outline: none !important;
    cursor: default !important;
  }
}

.imageContainer {
  width: 100%;
  height: 230px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: $border-radius;
  aspect-ratio: 1/1;

  @include media-phone {
    width: 140px;
    height: 140px;
  }

  @include media-tablet {
    width: 140px;
    height: 140px;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}

.imageContainer--cart {
  width: 120px;
  height: 120px;
}

.content {
  padding: 0;
  width: 100%;

  @include media-phone {
    gap: 12px;
  }

  &_information {
    padding: 0;
    place-self: initial;
  }

  &_name {
    font-size: 18px;
    font-weight: 500;
    color: $text-primary;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 15ms ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }

  &_nameLink:link,
  &_nameLink:visited,
  &_nameLink:active,
  &_nameLink:hover {
    text-decoration: none;
  }

  &_description {
    font-size: 12px;
    font-weight: 300;
    color: $text-muted;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &_amount {
    padding: 0;
    margin: 0;
    place-self: initial;

    &_icon {
      width: 20px;
      height: 20px;
    }

    &_number {
      font-size: 18px;
      font-weight: 500;
      color: $text-primary;
      line-height: 1.2;
      letter-spacing: 0.01em;
    }
  }

  &_button {
    text-transform: uppercase;
    padding: 0 16px;
  }


}

.content--cart {
  gap: 10px;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  &_description {
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  &_priceContainer {
    display: flex;
    align-items: center;
    gap: 4px;

    &_icon {
      width: 18px;
      height: 18px;
    }

    &_price {
      font-size: 16px;
      line-height: 1;
    }
  }


}