@mixin media-desktop {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin media-phone {
    @media (max-width: 480px) {
        @content;
    }
}