*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-default;
  color: $text-primary;
  font-family: var(--font-poppins), $font-primary;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
}

#root {
  min-height: 100vh;
}

.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 32px;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff44;
}