*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-default;
  color: $text-primary;
  font-family: $font-primary;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
}

#root {
  min-height: 100vh;
}

.pageContainer {
  padding: 20px 32px;
}