.container {
  height: fit-content;
  width: 100%;
  height: 100%;

  padding: 16px 40px;

  @include media-phone {
    padding: 1px;
  }

  @include media-tablet {
    padding: 16px;
  }
}

.content {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  flex: 1;
}