.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
  width: 100%;
  height: 100%;

  padding: 16px 40px;

  @include media-phone {
    padding: 1px;
  }

  @include media-tablet {
    padding: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_title {
    font-size: 24px;
    font-weight: 500;
    color: $text-primary;
    line-height: 1.1;
    letter-spacing: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  place-self: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  flex: 1;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;

  &_totalAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_label {
      font-size: 18px;
      font-weight: 700;
      color: $text-primary;
      text-transform: uppercase;
      letter-spacing: -1px;
    }

    &_amountContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &_iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_amount {
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
      }
    }
  }

  &_paymentButton {
    &_button {
      font-size: 16px;
      font-weight: 700;
      color: $text-primary;
      text-transform: uppercase;
      letter-spacing: 0;
    }
  }

  @include media-phone {
    padding: 0 8px;
  }

  @include media-tablet {
    padding: 0 8px;
  }
}