.button {
  background-color: $primary-color;
  color: $primary-contrast-text;
  border: none;
  border-radius: $border-radius;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: $line-height;
  font-family: $font-primary;
  height: $box-height;
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25);
  transition: all 0.3s ease;

  // &:hover {
  //     transform: translateY(-3px);
  // }

  &--secondary {
    background-color: $secondary-color;
    color: $secondary-contrast-text;
  }
}
