.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.progressContainer {
  width: 100%;
  height: 8px;
  background-color: $border-color;
  border-radius: $border-radius;
}

.progressBar {
  width: 40%;
  height: 100%;
  background-color: $primary-color;
  border-radius: $border-radius;
}
