.backButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  background-color: $secondary-color;
  color: $primary-color;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
