.headerContainer {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-bottom: 1px solid $border-color;
  background-color: $background-default;
  z-index: 1000;
}

.headerLogo {
  width: 100px;
  height: 40px;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1;
  gap: 6px;

  &_cartIcon {
    font-size: 24px;
    color: $primary-color;
  }

  &_cartCount {
    font-size: 14px;
    font-weight: 400;
    color: $text-primary;
  }
}