.container {
  width: 100%;
}

.productContainer {
  flex: 1;
  padding: 0;
}

.product {
  width: 100%;
  height: max-content;
  max-width: 1200px;

  @include media-phone {
    flex-direction: column;
  }

  @include media-tablet {
    flex-direction: column;
  }

  &_image {
    object-fit: contain;
    max-width: 500px;
    max-height: 500px;
    border-radius: $border-radius;
    place-self: center;

    @include media-desktop {
      max-width: 100%;
      max-height: 500px;
      border-radius: $border-radius;
      object-fit: cover;
    }

    @include media-tablet {
      max-width: 100%;
      max-height: 500px;
      border-radius: $border-radius;
      object-fit: cover;
    }

    @include media-phone {
      max-width: 100%;
      max-height: 300px;
      border-radius: $border-radius;
      object-fit: cover;
    }
  }

  &_info {
    padding: 16px 0;
    width: 100%;
    place-self: initial;

    &_name {
      font-size: 24px;
      font-weight: 500;
      color: $text-primary;
      margin: 0;
    }

    &_description {
      font-size: 16px;
      font-weight: 300;
      color: $text-muted;
      margin: 0;
      max-width: 600px;
    }

    &_amount {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      color: $text-primary;
      line-height: 1;
      place-self: initial;

      &_icon {
        width: 30px;
        height: 30px;
      }
    }

    &_actions {
      gap: 16px;
      padding: 0;
      margin-top: auto;
      height: 48px;
      width: 100%;

      &_quantity {
        background-color: $background-default;
        border-radius: $border-radius;
        width: fit-content;
        padding: 2px;
        height: 100%;

        &_button {
          background-color: transparent;
          height: 36px;
          width: 36px;
          padding: 0;
          align-items: center;
          justify-content: center;
          display: flex;
          border: none;
          box-shadow: none;
          min-width: 36px;
          min-height: 36px;
        }

        &_value {
          height: 36px;
          width: 36px;
          padding: 0;
          align-items: center;
          justify-content: center;
          display: flex;
          font-size: 16px;
          font-weight: 500;
          color: $text-primary;
        }
      }

      &_button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        text-transform: uppercase;
      }
    }
  }
}