.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.productListContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: fit-content;
    gap: 16px;
}

.loadButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 250px;
}